/* Layout Component */
.layout {
	display: flex;
	flex-direction: column;
	min-height: 100dvh;
}

.layout__content {
	display: flex;
	flex: 1;
}

.layout__main {
	flex: 1;
	max-height: calc(100dvh - 156px);
	overflow-y: auto;
}

/* Grid Component */
.grid {
	display: grid;
	gap: var(--space-md);
}

.grid--1-columns {
	grid-template-columns: 1fr;
}

.grid--2-columns {
	grid-template-columns: repeat(2, 1fr);
}

.grid--3-columns {
	grid-template-columns: repeat(3, 1fr);
}

.grid--4-columns {
	grid-template-columns: repeat(4, 1fr);
}

.grid--gap-xs {
	gap: var(--space-xs);
}

.grid--gap-sm {
	gap: var(--space-sm);
}

.grid--gap-md {
	gap: var(--space-md);
}

.grid--gap-lg {
	gap: var(--space-lg);
}

.grid--gap-xl {
	gap: var(--space-xl);
}
